@import url('https://db.onlinewebfonts.com/c/513071b47bdba774c93a73ad16a75e3b?family=DIN+Next+LT+Arabic+Bold');
@import "tailwindcss";





:root {
  --background: #ffffff;
  --foreground: #171717;
  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
   
  }
}

body {
      overflow-x: hidden;   
  /* font-family:  Arial, Helvetica, sans-serif; */
   font-family: "DIN Next LT Arabic", sans-serif;
  

 
 
}

.theme-bgcolor{
  background-color: #fdbd3f
}
  .theme-color {
    color: #fdbd3f
}

  .font-bold {
  font-family: "DIN Next LT Arabic Bold", sans-serif;
  
}

 .font-Header {
  font-family: "DINNextLTArabic-Black', 'DINNextLTArabic-Bold";
  
}


.login li{
  font-family: 'DINNextLTArabic-Medium';
}
.position{
    font-family: 'DINNextLTArabic-Regular'
};

  .serviceboxes{
    display: flex;
    margin: 0 auto;
    justify-content: center;
   
    gap: 5px;
   
  }
  .serviceboxes .card{
    width: 280px;
    border-radius: 0;
  }
    .serviceboxes .card > img{
    max-width: 100%;
    text-align: center;
  }

  .counter-box{
    background-color: #ececec;
    margin-top: 70px;
    display: block;
  }

  .counter-container{
    display: flex
;
    justify-content: space-around;
    align-items: center
  }

  .counter {
       text-align: center;
  }
  .certificates{
    display: flex;
    justify-content: space-between;
    color: #53585b;
    flex-wrap: wrap;
     font-family: 'DINNextLTArabic-Regular';
    
  }
  .certificates img {
  width: 200px;
  border: 3px solid #fdbd3f;
  border-radius: 8px;
   font-family: 'DINNextLTArabic-Regular';
}

.certificates .text-cen {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
   font-family: 'DINNextLTArabic-Regular';
}

.certificates .cir-title {
  font-weight: bold;
}


.base-footer ul{
    list-style-type: none;
   
}

.basefooter{
  background-color: #ececec;
}
.base-footer ul li{
    margin-bottom: 5px;
    padding: 10px 0px;
}
.base-footer li a {
    text-decoration: none;
    color: #221e1f;
    font-weight: 500;
}

.base-footer .address{
  /* font-weight: 500; */
  color: #221e1f;
}

 
.form-control{
  display: block;
     font-size: 1rem;
    font-weight: 400;
 padding: .375rem .75rem;
 width: 100%;
 border:1px solid  #dee2e6 ;
  
  border-radius: 6px;
  margin-top: 2px;
   line-height: 1.5;

 
 
 }

 .form-control:focus{
 
  border:1px solid  #86b7fe;
  outline: none;
 box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
 }

 

/* Base dropdown container setup */
.relative .form-control {
  appearance: none; /* hide native arrow */
  padding-right: 2.5rem; /* space for custom arrow */
}

/* Common dropdown toggle */
.dropdown-toggle::after {
  content: "";
  position: absolute;
  top: 50%;

  border-top: 0.4em solid #333; /* arrow color */
  border-right: 0.4em solid transparent;
  border-left: 0.4em solid transparent;
 
}

/* LTR layout */
.ltr .dropdown-toggle::after {
  right: 1rem;
}

/* RTL layout */
.rtl .dropdown-toggle::after {
  left: 1rem;
}

/* Optional: hover effect for better UI */







  

  .ba-img {
    position: relative;
    background-image: url("https://mawarid.com.sa/assets/images/MawridWebsite2023-20.png");
    background-size: 100% 100%;
  }

.insideSlide{
  position: absolute;
    top: 100px;

    width: calc(100% - 40px);
}
.slides{
  border: 4px solid #fff;
  margin: 0 0 60px;
    background: #fff;
    
    position: relative;
}

/* Default LTR */
.ltr .slick-dots {
  position: absolute !important;
 top: 0px !important;
  left: 200px !important;

}

.rtl .slick-dots {
  position: absolute !important;
 top: 0px !important;
  right: 200px !important;
  /* flip side for RTL */
}

/* Dot style (common for both) */
.slick-dots li button:before {
  font-size: 15px !important;
  color: #000 !important;
  opacity: 0.5;
}

.banner .slick-dots{
  top:0 !important;
  left:92% !important;
    text-align: start !important;
   

}
.banner .slick-dots li button:before{
 /* border:1px solid white !important; */
     color:white !important;
     /* border-radius: 50%; */
     /* border:1px solid white; */
}

.img-frame{
 position: absolute;
top:-20px;
/* left:78px; */
height:300px !important;
z-index: 3;
}

.with-frame{
position: relative;
z-index: 10;

}

.Notfound #header{
width: 100%;
    margin: 0 0 0 0;
    padding: 6px 2% 6px 2%;
    font-family: "trebuchet MS", Verdana, sans-serif;
    color: #FFF;
    background-color: #555555;
}

.Notfound #header h1{
      font-size: 2.4em;
    margin: 0;
    color: #FFF;
}

.Notfound #content {
    margin: 0 0 0 2%;
    position: relative;
    background-color: white;
    box-shadow: 0 4px 6px #ffffff; /* x-offset, y-offset, blur, color */
   
}

.Notfound{
    margin: 0;
    font-size: .7em;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background: #EEEEEE;
}
.Notfound #content .content-container{
  background: #FFF;
    width: 96%;
    margin-top: 8px;
    padding: 10px;
    position: relative;
} 
.Notfound fieldset{
 
    padding: 0 15px 10px 15px;
        border-width: 2px;
    border-style: groove;
    border-color: gray;
}
.Notfound fieldset h2{
 
  font-size: 1.7em;
    margin: 0;
    color: #CC0000;
  font-weight: bold;


}
.Notfound fieldset h3{
     font-size: 1.2em;
    margin: 10px 0 0 0;
    color: #000000;
     font-weight: bold;
}


